.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: auto;
  left: 10px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #111;
}